<% content_for :header_tags do -%>
  <%= stylesheet_link_tag 'cartocs', :plugin => :redmine_cartocs %>
<% end %>

<%
begin
  @application = Application.find(@project.identifier) if Application.site.present?
  @instances = @application.application_instances if @application
rescue ActiveResource::ResourceNotFound
rescue Errno::ECONNREFUSED
rescue ActiveResource::TimeoutError
rescue ActiveResource::ClientError
end
-%>
<% if @application.present? -%>
<div class="servers box">
  <div class="contextual">
    <%= link_to "#{@application.name} sur CartoCS", Application.public_url("/applications/#{@application.id}") %>
  </div>
  <h3><%=l(:label_server_plural)%></h3>  
  <% if @instances.present? %>
  <% @instances.each do |instance| %>
  <p>
    <strong>Instance "<%= instance.name %>"</strong>
    <ul style="margin:0 0.5em">
      <% instance.application_urls.each do |app_url| %>
      <li><%= link_to app_url.url, app_url.url, :class => "external" %></li>
      <% end %>
      <% if instance.machines.present? -%>
      <li><%= instance.machines.sort_by{|m|m.name.downcase}.map do |machine|
        link_to machine.name, Application.public_url("/machines/#{machine.id}")
      end.join(", ") %></li>
      <% end -%>
    </ul>
  </p>
  <% end %>
  <% end %>
</div>

<div class="dokuwiki box">
  <h3>Dokuwiki</h3>  
  <% if @application.dokuwiki_pages.present? %>
  <ul>
  <% @application.dokuwiki_pages.each do |page| %>
    <% site = "http://dokuwiki.application.ac.centre-serveur.i2" %>
    <li><%= link_to page.gsub("documentation_generale:",""), "#{site}/doku.php?id=#{page}", :class => "external" %></li>
  <% end -%>
  </ul>
  <% else -%>
    <p><em><%= l(:label_no_data) %></em></p>
  <% end -%>
</div>

<% end -%>
