<% content_for :header_tags do -%>
  <%= stylesheet_link_tag 'cartocs', :plugin => :redmine_cartocs %>
<% end %>

<%
begin
  @application = Application.find(@project.identifier) if Application.site.present?
  @machines = @application.machines.sort_by{|m|m.nom.downcase} if @application
rescue ActiveResource::ResourceNotFound
rescue Errno::ECONNREFUSED
rescue ActiveResource::TimeoutError
rescue ActiveResource::ClientError
end
-%>
<% if @application.present? -%>
<div class="servers box">
  <div class="contextual">
    <%= link_to "#{@application.nom} sur CartoCS", Application.public_url+"/applications/#{@application.id}" %>
  </div>
  <h3><%=l(:label_server_plural)%></h3>  
  <p>
    <% if @machines.present? -%>
      <%= @machines.map do |machine|
        link_to machine.nom, Application.public_url+"/machines/#{machine.id}"
      end.join(", ") %>
    <% else -%>
      <%= l(:label_no_data) %>
    <% end -%>
  </p>
</div>
<% end -%>
