<% content_for :header_tags do -%>
  <%= stylesheet_link_tag 'cartocs', :plugin => :redmine_cartocs %>
<% end %>

<%
begin
  @application = Application.find(@project.identifier) if Application.site.present?
  @instances = @application.application_instances if @application
rescue ActiveResource::ResourceNotFound
rescue Errno::ECONNREFUSED
rescue ActiveResource::TimeoutError
rescue ActiveResource::ClientError
end
-%>
<% if @application.present? -%>
<div class="servers box">
  <div class="contextual">
    <%= link_to "#{@application.name} sur CartoCS", Application.public_url("/applications/#{@application.id}") %>
  </div>
  <h3><%=l(:label_server_plural)%></h3>  
  <% if @instances.present? %>
  <% @instances.each do |instance| %>
  <p>
    <strong>Instance "<%= instance.name %>"</strong>
    <% if instance.machines.present? -%>
    <ul>
      <% instance.application_urls.each do |url| %>
      <li><%= link_to url, url, :class => "external" %></li>
      <% end %>
      <li><%= instance.machines.sort_by{|m|m.name.downcase}.map do |machine|
        link_to machine.name, Application.public_url("/machines/#{machine.id}")
      end.join(", ") %></li>
    </ul>
    <% else -%>
      <%= l(:label_no_data) %>
    <% end -%>
  </p>
  <% end %>
  <% end %>
</div>
<% end -%>
